<style>
    #badge {
        font-family: helvetica;
        border-radius: 4px;
        font-size: 40px;
        color: #fff;
        padding: 5px;
        height: 70px;
        width: 70px;
    }
</style>
<div>
    <img src="https://static1.squarespace.com/static/5b0221d3e749408db8bf92b2/t/5b03688e2b6a2868278a2c25/1528677111713/?format=1500w"
        style='margin-left: 90px; height: 120px; width: 350px; background-color: blue;' alt="pivot" />
    <h2 style='text-align: center'>Join {{ variables.workspace.name }} on pivot</h2>
    <p>
        {{ variables.member.name }}, {{ variables.admin.name }}
        ({{ variables.admin.email }})
        has added you to join <strong>{{ variables.workspace.name }}</strong> on kentro
    </p>
    <span>Click this link and get started on kentro</span>
    <a href="{{ variables.workspace.link }}">Click here to join {{ variables.workspace.name }}!</a>
    {{Badge variables.workspace.name }}

</div>